/* header */
#header{
	position: relative;
	overflow: hidden;
	background: url('../images/bg-header.jpg') no-repeat 100% 0;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 53.714%;
		height: 252px;
		background: url('../images/bg-blue-header.png') no-repeat 100% 0;
		overflow: hidden;
		z-index: 1;
	}
	.holder{
		padding: 21px 0 38px;
		position: relative;
		z-index: 2;
		.logo{
			margin-bottom: 37px;
			width: 154px;
			height: 26px;
			background: url('../images/logo.png') no-repeat;
			text-indent: -9999px;
			overflow: hidden;
			a{
				display: block;
				height: 100%;
			}
		}
		.header-title{
			width: 595px;
			margin-bottom: 16px;
			padding: 46px 0 5px;
			border-bottom: 1px solid #5c5c5c;
			position: relative;
			p{
				font: 23px/1.2 "HiraKakuPro W3", Arial, Helvetica, san-serif;
				margin: 0;
			}
			.bubble{
				position: absolute;
				top: 0;
				right: 7px;
				width: 222px;
				height: 70px;
				background: url('../images/bg-bubble-header.png') no-repeat;
				text-align: center;
				font: bold 23px/60px "HiraKakuStd W8", Arial, Helvetica, san-serif;
				color: #fff;
			}
		}
		.special{
			margin-bottom: 10px;
			font: bold 31px/1.4 "HiraKakuPro W6", Arial, Helvetica, san-serif;
			mark{
				color: #e83428;
			}
		}
		.price{
			margin-bottom: 16px;
			font: bold 30px/60px "HiraKakuPro W6", Arial, Helvetica, san-serif;
			mark{
				font-size: 56px;
				line-height: 60px;
				color: #487caf;
			}
			span{
				font-size: 56px;
				line-height: 60px;
			}
			em{
				font-style: normal;
				font-size: 20px;
				line-height: 60px;
			}
		}
		.languages{
			margin-bottom: 20px;
			overflow: hidden;
			.lang{
				display: inline-block;
				vertical-align: top;
				margin-right: 5px;
			}
			span{
				display: inline-block;
				vertical-align: top;
				font: 18px/40px "HiraKakuPro W3", Arial, Helvetica, san-serif;
				margin-left: 5px;
			}
		}
		.txt{
			margin-bottom: 20px;
			font: 18px/26px "HiraKakuPro W3", Arial, Helvetica, san-serif;
			max-width: 720px;
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			padding: 10px 20px 38px;
		}
	}
	@media only screen and (max-width: 736px) {
		background-position: 100% 100%;
		-webkit-background-size: 236px auto;
		background-size: 236px auto;
		&:after{
			height: 40px;
			width: 229px;
		}
		.holder{
			padding: 14px 9px 11px;
			.logo{
				margin: 0;
				position: absolute;
				top: 5px;
				left: 9px;
				width: 85px;
				height: 14px;
				background: url('../images/logo-sp.png') no-repeat;
				-webkit-background-size: 85px 14px;
				background-size: 85px 14px;
			}
			.header-title{
				padding: 24px 0 1px;
				width: 100%;
				margin-bottom: 6px;
				p{
					font-size: 12px;
					line-height: 16px;
				}
				.bubble{
					right: 10px;
					width: 111px;
					height: 35px;
					-webkit-background-size: 111px 35px;
					background-size: 111px 35px;
					font-size: 10px;
					line-height: 30px;
				}
			}
			.special{
				font-size: 16px;
				margin-bottom: 11px;
			}
			.price{
				font-size: 15px;
				line-height: 30px;
				margin-bottom: 8px;
				mark{
					font-size: 28px;
					line-height: 30px;
					display: block;
				}
				span{
					font-size: 28px;
					line-height: 30px;
				}
				em{
					font-size: 10px;
					line-height: 30px;
				}
			}
			.languages{
				margin-bottom: 6px;
				line-height: 23px;
				.lang{
					margin-right:0;
					width: 34px;
				}
				span{
					display: block;
					font-size: 10px;
					line-height: 16px;
					margin: 2px 0 0;
				}
			}
			.txt{
				margin-bottom: 0;
				font-size: 12px;
				line-height: 18px;
				text-shadow: 2px 2px rgba(255,255,255,0.2), -2px -2px rgba(255,255,255,0.2), 2px -2px rgba(255,255,255,0.2), -2px 2px rgba(255,255,255,0.2);
				width: 80%;
			}
		}
	}
}