/* reset css */
* {
  -webkit-text-size-adjust: none; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  height: 100%;
  background: #fff;
  -webkit-text-size-adjust: none; }

body {
  min-height: 100%;
  font-family: Meiryo, Arial, Helvetica, sans-serif;
  font-weight: 300;
  position: relative;
  background: #fff;
  color: #333;
  font-size: 18px;
  line-height: 30px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

a {
  color: #46b255;
  text-decoration: none;
  cursor: pointer;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.4); }

a:hover {
  text-decoration: none; }

a img {
  transition: all 0.5s ease; }

a:hover img {
  -moz-opacity: 0.7;
  opacity: 0.7; }

table {
  border-collapse: collapse; }

input, select {
  vertical-align: middle; }

.holder {
  margin: 0 auto;
  max-width: 980px; }
  .holder:after {
    content: '';
    display: block;
    clear: both; }
  @media only screen and (max-width: 1000px) {
    .holder {
      padding-left: 20px;
      padding-right: 20px; } }
  @media only screen and (max-width: 736px) {
    .holder {
      padding-left: 11px;
      padding-right: 11px; } }

.sp,
.hidden {
  display: none; }

.pc {
  display: block; }

/* Smartphone */
@media only screen and (max-width: 736px) {
  .sp {
    display: block !important; }
  .pc {
    display: none !important; } }

/* layout parts */
/* header */
#header {
  position: relative;
  overflow: hidden;
  background: url("../images/bg-header.jpg") no-repeat 100% 0;
  background-size: auto 100%; }
  #header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 53.714%;
    height: 252px;
    background: url("../images/bg-blue-header.png") no-repeat 100% 0;
    overflow: hidden;
    z-index: 1; }
  #header .holder {
    padding: 21px 0 38px;
    position: relative;
    z-index: 2; }
    #header .holder .logo {
      margin-bottom: 37px;
      width: 154px;
      height: 26px;
      background: url("../images/logo.png") no-repeat;
      text-indent: -9999px;
      overflow: hidden; }
      #header .holder .logo a {
        display: block;
        height: 100%; }
    #header .holder .header-title {
      width: 595px;
      margin-bottom: 16px;
      padding: 46px 0 5px;
      border-bottom: 1px solid #5c5c5c;
      position: relative; }
      #header .holder .header-title p {
        font: 23px/1.2 "HiraKakuPro W3", Arial, Helvetica, san-serif;
        margin: 0; }
      #header .holder .header-title .bubble {
        position: absolute;
        top: 0;
        right: 7px;
        width: 222px;
        height: 70px;
        background: url("../images/bg-bubble-header.png") no-repeat;
        text-align: center;
        font: bold 23px/60px "HiraKakuStd W8", Arial, Helvetica, san-serif;
        color: #fff; }
    #header .holder .special {
      margin-bottom: 10px;
      font: bold 31px/1.4 "HiraKakuPro W6", Arial, Helvetica, san-serif; }
      #header .holder .special mark {
        color: #e83428; }
    #header .holder .price {
      margin-bottom: 16px;
      font: bold 30px/60px "HiraKakuPro W6", Arial, Helvetica, san-serif; }
      #header .holder .price mark {
        font-size: 56px;
        line-height: 60px;
        color: #487caf; }
      #header .holder .price span {
        font-size: 56px;
        line-height: 60px; }
      #header .holder .price em {
        font-style: normal;
        font-size: 20px;
        line-height: 60px; }
    #header .holder .languages {
      margin-bottom: 20px;
      overflow: hidden; }
      #header .holder .languages .lang {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px; }
      #header .holder .languages span {
        display: inline-block;
        vertical-align: top;
        font: 18px/40px "HiraKakuPro W3", Arial, Helvetica, san-serif;
        margin-left: 5px; }
    #header .holder .txt {
      margin-bottom: 20px;
      font: 18px/26px "HiraKakuPro W3", Arial, Helvetica, san-serif;
      max-width: 720px; }
  @media only screen and (max-width: 1000px) {
    #header .holder {
      padding: 10px 20px 38px; } }
  @media only screen and (max-width: 736px) {
    #header {
      background-position: 100% 100%;
      background-size: 236px auto; }
      #header:after {
        height: 40px;
        width: 229px; }
      #header .holder {
        padding: 14px 9px 11px; }
        #header .holder .logo {
          margin: 0;
          position: absolute;
          top: 5px;
          left: 9px;
          width: 85px;
          height: 14px;
          background: url("../images/logo-sp.png") no-repeat;
          background-size: 85px 14px; }
        #header .holder .header-title {
          padding: 24px 0 1px;
          width: 100%;
          margin-bottom: 6px; }
          #header .holder .header-title p {
            font-size: 12px;
            line-height: 16px; }
          #header .holder .header-title .bubble {
            right: 10px;
            width: 111px;
            height: 35px;
            background-size: 111px 35px;
            font-size: 10px;
            line-height: 30px; }
        #header .holder .special {
          font-size: 16px;
          margin-bottom: 11px; }
        #header .holder .price {
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 8px; }
          #header .holder .price mark {
            font-size: 28px;
            line-height: 30px;
            display: block; }
          #header .holder .price span {
            font-size: 28px;
            line-height: 30px; }
          #header .holder .price em {
            font-size: 10px;
            line-height: 30px; }
        #header .holder .languages {
          margin-bottom: 6px;
          line-height: 23px; }
          #header .holder .languages .lang {
            margin-right: 0;
            width: 34px; }
          #header .holder .languages span {
            display: block;
            font-size: 10px;
            line-height: 16px;
            margin: 2px 0 0; }
        #header .holder .txt {
          margin-bottom: 0;
          font-size: 12px;
          line-height: 18px;
          text-shadow: 2px 2px rgba(255, 255, 255, 0.2), -2px -2px rgba(255, 255, 255, 0.2), 2px -2px rgba(255, 255, 255, 0.2), -2px 2px rgba(255, 255, 255, 0.2);
          width: 80%; } }

/* footer */
#footer {
  position: fixed;
  z-index: 100;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: #42b095;
  color: #fff;
  transition: bottom 0.5s ease; }
  #footer a {
    color: #fff; }
  #footer.visible {
    bottom: 0; }
  #footer .holder {
    padding: 20px 0 17px;
    overflow: hidden; }
    #footer .holder .col {
      width: 50%;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 10px;
      text-align: center;
      float: left; }
      #footer .holder .col h3 {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 30px;
        font-weight: normal; }
        #footer .holder .col h3 strong {
          padding-left: 18px;
          background: url("../images/separator-l.png") no-repeat 0 50%;
          font-weight: normal;
          margin-right: -4px; }
        #footer .holder .col h3 span {
          padding-right: 18px;
          margin-right: -4px;
          background: url("../images/separator-r.png") no-repeat 100% 50%; }
      #footer .holder .col .phone {
        margin-bottom: 3px; }
        #footer .holder .col .phone a {
          display: inline-block;
          vertical-align: top;
          padding-left: 40px;
          background: url("../images/icon-phone.png") no-repeat 0 50%;
          font-size: 42px;
          line-height: 44px;
          font-weight: bold;
          letter-spacing: 4px;
          transition: all 0.5s ease; }
          #footer .holder .col .phone a:hover {
            opacity: 0.8; }
      #footer .holder .col p {
        margin: 0;
        font-size: 16px;
        line-height: 20px; }
      #footer .holder .col .btn {
        display: inline-block;
        vertical-align: top;
        margin-right: -3px;
        border-bottom: 6px solid #bea119;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 380px;
        padding: 0 45px;
        font-size: 28px;
        line-height: 63px;
        color: #333;
        position: relative;
        background: #fbd731;
        transition: all 0.5s ease; }
        #footer .holder .col .btn:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 11px;
          width: 28px;
          height: 28px;
          margin-top: -14px;
          border-radius: 50%;
          background: #fff; }
        #footer .holder .col .btn:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 23px;
          width: 0;
          height: 0;
          margin-top: -7px;
          border-top: 7px solid transparent;
          border-left: 7px solid #e83428;
          border-bottom: 8px solid transparent; }
        #footer .holder .col .btn:hover {
          opacity: 0.8; }
  @media only screen and (max-width: 1000px) {
    #footer .holder .col h3 {
      margin-bottom: 5px;
      font-size: 18px; }
    #footer .holder .col .phone a {
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 2px; }
    #footer .holder .col p {
      font-size: 14px;
      line-height: 18px; }
    #footer .holder .col .btn {
      min-width: 1px;
      padding: 0 20px 0 50px; } }

/* styles */
#wrapper {
  position: relative;
  padding-bottom: 146px;
  overflow: hidden; }

.blue-title {
  background: #487caf;
  color: #fff;
  padding: 42px 0 40px;
  text-align: center; }
  .blue-title h2 {
    font-size: 36px;
    line-height: 50px; }
    .blue-title h2 em {
      font-style: normal;
      font-size: 24px;
      line-height: 50px;
      vertical-align: top; }
    .blue-title h2 span {
      vertical-align: top; }
  @media only screen and (max-width: 1000px) {
    .blue-title h2 {
      font-size: 34px; } }
  @media only screen and (max-width: 736px) {
    .blue-title {
      padding: 9px 0; }
      .blue-title h2 {
        font-size: 20px;
        line-height: 24px; }
        .blue-title h2 em {
          font-size: 13px;
          line-height: 24px; }
        .blue-title h2 span {
          display: block; } }

/* correspondence box */
.correspondence-box {
  margin-bottom: 48px;
  background: #bee8e0;
  position: relative; }
  .correspondence-box:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: #fff;
    z-index: 1; }
  .correspondence-box .holder {
    position: relative;
    z-index: 2;
    background: url("../images/bg-correspondence.png") no-repeat 50% 0;
    background-size: 100% auto;
    padding: 237px 0 32px;
    min-height: 596px;
    box-sizing: border-box;
    overflow: hidden; }
    .correspondence-box .holder .text {
      width: 505px;
      float: right;
      font-size: 20px;
      line-height: 34px; }
    .correspondence-box .holder img.sp {
      margin-bottom: 15px; }
  @media only screen and (max-width: 1000px) {
    .correspondence-box .holder {
      padding-right: 20px; }
      .correspondence-box .holder .text {
        width: 45%;
        padding-bottom: 20px; } }
  @media only screen and (max-width: 736px) {
    .correspondence-box {
      background: none;
      margin-bottom: 12px;
      padding-bottom: 26px; }
      .correspondence-box:after {
        display: none; }
      .correspondence-box:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -27px;
        width: 0;
        height: 0;
        border-left: 27px solid transparent;
        border-right: 27px solid transparent;
        border-top: 16px solid #bee8e0; }
      .correspondence-box .holder {
        padding: 0;
        background: none;
        min-height: 1px; }
        .correspondence-box .holder img.sp {
          margin-bottom: 15px;
          width: 100%; }
        .correspondence-box .holder .text {
          padding: 0 12px;
          width: auto;
          font-size: 12px;
          line-height: 17px; } }

/* experts box */
.experts-box {
  text-align: center; }
  .experts-box h2 {
    margin-bottom: 33px;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #42b095; }
  .experts-box p {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 38px; }
    .experts-box p strong {
      font-size: 28px;
      line-height: 38px; }
  .experts-box .image {
    margin-bottom: 60px; }
    .experts-box .image img {
      display: block;
      width: 100%; }
  @media only screen and (max-width: 1000px) {
    .experts-box h2 {
      font-size: 34px; }
    .experts-box p {
      font-size: 21px; } }
  @media only screen and (max-width: 736px) {
    .experts-box h2 {
      margin: 0 auto 5px;
      font-size: 18px;
      line-height: 25px;
      width: 76%; }
    .experts-box p {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 14px; }
      .experts-box p span {
        display: block; }
      .experts-box p strong {
        font-size: 15px;
        line-height: 20px; }
    .experts-box .image {
      margin: 0 -11px 20px; } }

/* service box */
.service-box {
  background: #487caf; }
  .service-box .holder {
    padding: 52px 0 30px; }
    .service-box .holder h2 {
      text-align: center;
      margin-bottom: 31px;
      color: #fff;
      font-size: 36px;
      line-height: 1.4; }
    .service-box .holder .boxes {
      -display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 34px; }
      .service-box .holder .boxes .box {
        width: 31.7%;
        background: #fff; }
        .service-box .holder .boxes .box .title {
          background: #254e76;
          color: #fff;
          text-align: center;
          padding: 15px 5px; }
          .service-box .holder .boxes .box .title h3 {
            font-size: 22px;
            line-height: 30px; }
        .service-box .holder .boxes .box .content {
          padding: 15px 15px 26px;
          font-size: 16px;
          line-height: 22px; }
          .service-box .holder .boxes .box .content img {
            display: block;
            width: 100%;
            margin-bottom: 25px; }
          .service-box .holder .boxes .box .content p {
            margin: 0 0 0 5px; }
    .service-box .holder .gray-boxes {
      position: relative;
      background: #e1e1e1;
      padding: 30px;
      margin-bottom: 30px;
      -display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .service-box .holder .gray-boxes:after {
        content: '';
        position: absolute;
        top: -56px;
        right: 13%;
        width: 0;
        height: 0;
        border-left: 29px solid transparent;
        border-right: 29px solid transparent;
        border-bottom: 56px solid #e1e1e1; }
      .service-box .holder .gray-boxes .box {
        width: 31.7%; }
        .service-box .holder .gray-boxes .box h4 {
          text-align: center;
          margin-bottom: 10px;
          font-size: 18px;
          line-height: 30px; }
        .service-box .holder .gray-boxes .box .content {
          display: block;
          padding: 14px 31px;
          border: 1px solid #fff;
          background: #fff;
          transition: all 0.5s ease; }
          .service-box .holder .gray-boxes .box .content img {
            display: block;
            width: 100%;
            opacity: 1 !important; }
          .service-box .holder .gray-boxes .box .content:hover {
            border-color: #e83428;
            box-shadow: 0 12px 27px 0 rgba(0, 0, 0, 0.23); }
  @media only screen and (max-width: 1000px) {
    .service-box .holder {
      padding-left: 20px;
      padding-right: 20px; }
      .service-box .holder .boxes .box .title h3 {
        font-size: 19px; } }
  @media only screen and (max-width: 736px) {
    .service-box .holder {
      padding: 28px 11px 10px; }
      .service-box .holder h2 {
        margin-bottom: 15px;
        font-size: 19px; }
      .service-box .holder .boxes {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 0; }
        .service-box .holder .boxes .box {
          margin-bottom: 15px;
          width: 100%; }
          .service-box .holder .boxes .box .title {
            padding: 14px 5px; }
          .service-box .holder .boxes .box .content {
            padding: 12px 15px;
            font-size: 13px;
            line-height: 18px; }
            .service-box .holder .boxes .box .content img {
              margin-bottom: 13px; }
            .service-box .holder .boxes .box .content p {
              margin: 0 5px; }
      .service-box .holder .gray-boxes {
        padding: 18px 15px 0;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 10px; }
        .service-box .holder .gray-boxes:after {
          top: -27px;
          right: 50%;
          margin-right: -13px;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-bottom: 27px solid #e1e1e1; }
        .service-box .holder .gray-boxes .box {
          margin-bottom: 18px;
          width: 100%; }
          .service-box .holder .gray-boxes .box h4 {
            font-size: 17px;
            line-height: 1.4;
            margin-bottom: 7px; }
          .service-box .holder .gray-boxes .box .content {
            padding: 13px 29px; } }

/* strengths box */
.strengths-box {
  background: #dcedf9; }
  .strengths-box .holder {
    padding: 53px 0 20px;
    overflow: hidden; }
    .strengths-box .holder .heading {
      margin-bottom: 59px;
      text-align: center;
      overflow: hidden; }
      .strengths-box .holder .heading h2 {
        text-align: center;
        font-size: 36px;
        line-height: 1.4;
        color: #254e76;
        margin-bottom: 16px; }
        .strengths-box .holder .heading h2 mark {
          color: #e83428; }
      .strengths-box .holder .heading p {
        font-size: 24px;
        line-height: 1.4;
        margin: 0; }
    .strengths-box .holder .box {
      margin-bottom: 39px;
      padding-bottom: 40px;
      border-bottom: 1px dotted #333;
      overflow: hidden; }
      .strengths-box .holder .box .image {
        margin-right: 50px;
        float: left;
        width: 18.265%; }
        .strengths-box .holder .box .image img {
          display: block;
          width: 100%; }
        .strengths-box .holder .box .image.r {
          margin: 0 0 0 50px;
          float: right; }
      .strengths-box .holder .box .text {
        overflow: hidden; }
        .strengths-box .holder .box .text h3 {
          margin-bottom: 26px;
          font-size: 36px;
          line-height: 66px;
          color: #254e76;
          vertical-align: top; }
          .strengths-box .holder .box .text h3 .num {
            font-size: 80px;
            line-height: 66px;
            font-weight: normal;
            float: left;
            margin-right: 45px; }
          .strengths-box .holder .box .text h3 strong {
            display: block;
            overflow: hidden; }
        .strengths-box .holder .box .text p {
          margin-bottom: 0; }
  @media only screen and (max-width: 1000px) {
    .strengths-box .holder {
      padding-left: 20px;
      padding-right: 20px; }
      .strengths-box .holder .box .image {
        margin-right: 30px; }
        .strengths-box .holder .box .image.r {
          margin: 0 0 0 30px; }
      .strengths-box .holder .box .text h3 {
        font-size: 30px;
        line-height: 70px; }
        .strengths-box .holder .box .text h3 .num {
          margin-right: 25px;
          font-size: 70px;
          line-height: 70px; } }
  @media only screen and (max-width: 736px) {
    .strengths-box .holder {
      padding: 25px 12px 0; }
      .strengths-box .holder .heading {
        margin-bottom: 15px; }
        .strengths-box .holder .heading h2 {
          font-size: 19px;
          margin-bottom: 9px; }
        .strengths-box .holder .heading p {
          font-size: 12px;
          line-height: 15px;
          margin: 0 auto;
          width: 80%; }
      .strengths-box .holder .box {
        margin-bottom: 20px;
        padding-bottom: 16px; }
        .strengths-box .holder .box:last-child {
          border-bottom: 0;
          margin-bottom: 10px; }
        .strengths-box .holder .box .image,
        .strengths-box .holder .box .image.r {
          float: none;
          margin: 0 auto 13px;
          width: 69px; }
        .strengths-box .holder .box .text {
          font-size: 12px;
          line-height: 16px; }
          .strengths-box .holder .box .text h3 {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 20px; }
            .strengths-box .holder .box .text h3 .num {
              font-size: 18px;
              line-height: 20px;
              margin-right: 12px; }
            .strengths-box .holder .box .text h3 strong span {
              display: block; } }

/* about price */
.about-price {
  background: #254e76;
  overflow: hidden; }
  .about-price .holder {
    padding: 54px 0 0; }
    .about-price .holder h2 {
      text-align: center;
      color: #fff;
      font-size: 36px;
      line-height: 1.4;
      margin-bottom: 29px; }
    .about-price .holder .box {
      padding: 30px 30px 30px 22px;
      background: #eaeef2;
      margin-bottom: 60px;
      overflow: hidden; }
      .about-price .holder .box h3 {
        margin-bottom: 4px;
        font-size: 30px;
        line-height: 60px;
        color: #e83428;
        text-align: center; }
        .about-price .holder .box h3 strong {
          font-size: 56px;
          line-height: 60px; }
        .about-price .holder .box h3 span {
          font-size: 20px; }
      .about-price .holder .box .hold {
        overflow: hidden; }
        .about-price .holder .box .hold .lang-list {
          margin: 12px 0 0;
          float: right;
          width: 20%;
          overflow: hidden; }
          .about-price .holder .box .hold .lang-list li {
            width: 50%;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 0 10px 10px;
            float: left; }
            .about-price .holder .box .hold .lang-list li img {
              display: block;
              width: 100%; }
        .about-price .holder .box .hold .txt {
          float: left;
          width: 75%;
          font-size: 24px;
          line-height: 48px;
          overflow: hidden; }
  @media only screen and (max-width: 1000px) {
    .about-price .holder {
      padding-left: 20px;
      padding-right: 20px; } }
  @media only screen and (max-width: 736px) {
    .about-price .holder {
      padding: 26px 11px 10px; }
      .about-price .holder h2 {
        margin-bottom: 14px;
        font-size: 19px; }
      .about-price .holder .box {
        padding: 20px 15px 10px; }
        .about-price .holder .box h3 {
          font-size: 14px;
          line-height: 26px; }
          .about-price .holder .box h3 strong {
            font-size: 26px;
            line-height: 26px; }
          .about-price .holder .box h3 span {
            font-size: 10px;
            line-height: 26px; } }

/* form box */
.form-box .holder {
  padding: 57px 0 0; }
  .form-box .holder .heading {
    overflow: hidden; }
    .form-box .holder .heading .img {
      margin: 0 5.7% 0 2.5%;
      float: right;
      width: 26.837%; }
      .form-box .holder .heading .img img {
        display: block;
        width: 100%; }
    .form-box .holder .heading .txt {
      padding: 4px 31px 0 0;
      overflow: hidden; }
      .form-box .holder .heading .txt .bubble {
        position: relative;
        background: #dcedf9;
        font-size: 30px;
        line-height: 1.4;
        font-weight: bold;
        color: #254e76;
        padding: 37px 10px;
        text-align: center;
        border-radius: 18px; }
        .form-box .holder .heading .txt .bubble:after {
          content: '';
          position: absolute;
          top: 56%;
          right: -31px;
          width: 31px;
          height: 20px;
          background: url("../images/arrow-form-head.png") no-repeat; }
  .form-box .holder .form {
    margin-bottom: 56px; }
    .form-box .holder .form img {
      display: block;
      width: 100%; }

@media only screen and (max-width: 1000px) {
  .form-box .holder {
    padding-left: 20px;
    padding-right: 20px; } }

/* included form */
#form {
  position: relative;
  padding-top: 22px;
  margin: 0 auto 40px;
  max-width: 580px;
  overflow: hidden; }
  #form p {
    font-size: 12px;
    line-height: 16px; }
  #form .req-mark {
    display: inline-block;
    font-size: 12px;
    height: 19px;
    color: #EA3049;
    font-family: meiryo, 'Hiragino Kaku Gothic Pro', sans-serif;
    white-space: nowrap;
    border-radius: 4px;
    position: relative;
    padding: 0.1em 0.2em;
    margin: 0 0 0 0.2em; }
  #form #save-load-layer {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 1px 3px #999;
    background-color: #eee;
    padding: 2px;
    color: #555;
    z-index: 10; }
    #form #save-load-layer #save-load-title {
      text-align: center;
      background: url("../images/save-icon16.png") no-repeat 5px 0;
      text-decoration: underline; }
    #form #save-load-layer #save-load-message {
      text-align: center;
      color: crimson;
      background-color: #fff;
      border-radius: 2px;
      text-shadow: 1px 1px 1px #ddd; }
    #form #save-load-layer #save-load-buttons {
      margin: 2px 0 2px 0;
      padding: 2px;
      color: #444; }
      #form #save-load-layer #save-load-buttons ul {
        list-style: none; }
        #form #save-load-layer #save-load-buttons ul li {
          margin: 0 0 8px; }
          #form #save-load-layer #save-load-buttons ul li button {
            width: 100%;
            line-height: 2.0em;
            padding: 2px 4px;
            margin: 0 4px 2px 0;
            color: #fff;
            background-color: #8b8b8b;
            border: 1px solid #ddd;
            border-radius: 4px; }
            #form #save-load-layer #save-load-buttons ul li button:hover {
              text-decoration: underline; }
  #form .comform-wrap {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto 8px;
    background-color: #fff; }
    #form .comform-wrap .comform-title {
      text-align: center;
      font-size: 16px;
      line-height: 25px;
      color: #fff;
      background-color: #8b8b8b;
      border: 1px solid #aaa;
      font-weight: bold;
      padding: 4px;
      margin: 0 auto 16px;
      font-family: meiryo, "MS PGothic", "Hiragino Kaku Gothic Pro", sans-serif; }
    #form .comform-wrap .comform-container {
      box-sizing: border-box;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc; }
      #form .comform-wrap .comform-container .comform-row {
        table-layout: fixed;
        display: table;
        width: 100%; }
        #form .comform-wrap .comform-container .comform-row .itemTitle {
          display: table-cell;
          width: 30%;
          vertical-align: top;
          padding: 10px;
          font-weight: bold;
          line-height: 1.6;
          font-size: 15px;
          color: #555;
          background-color: #eee;
          border: 0;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          box-sizing: border-box; }
        #form .comform-wrap .comform-container .comform-row .itemInput {
          display: table-cell;
          width: 70%;
          vertical-align: text-top;
          font-size: 15px;
          line-height: 1.6;
          color: #555;
          background-color: #fff;
          padding: 10px;
          border: 0;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          box-sizing: border-box; }
          #form .comform-wrap .comform-container .comform-row .itemInput .choice-table {
            display: inline-table;
            border-spacing: 0;
            vertical-align: top; }
            #form .comform-wrap .comform-container .comform-row .itemInput .choice-table td {
              padding: 2px 4px 2px 18px;
              text-indent: -16px; }
              #form .comform-wrap .comform-container .comform-row .itemInput .choice-table td label {
                margin: 0 0 0 2px; }
    #form .comform-wrap .error {
      font-size: 0.95em;
      border: 1px solid #f66;
      margin: 2px 0px 0px 0px;
      padding: 2px 0px 2px 24px;
      color: #551111;
      background: #fff5f5 url("../images/alert-icon16.gif") no-repeat 2px 2px;
      position: absolute;
      border-radius: 4px;
      box-shadow: 0px 1px 2px #aaa;
      cursor: pointer;
      z-index: 1; }
  #form input,
  #form textarea,
  #form select {
    font-size: 13px;
    line-height: 13px;
    padding: 2px;
    margin: 0;
    font-family: monospace; }
  #form .itemInput input[type="text"],
  #form .itemInput input[type="email"],
  #form .itemInput textarea,
  #form .itemInput select {
    font-size: 14px;
    font-family: monospace;
    line-height: 1.6;
    padding: 4px 8px 4px 8px;
    margin: 2px 0;
    color: #555;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 0 1px 2px 0 #ddd inset;
    border-radius: 4px; }
  #form .checkLabel {
    margin: 0 4px;
    font-size: 13px; }
  #form .form-buttons {
    text-align: center;
    margin: 16px 0; }
    #form .form-buttons button {
      padding: 3px;
      font-size: 13px; }

/* popups */
.fader {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background: rgba(119, 119, 119, 0.7);
  opacity: 0;
  z-index: 980;
  transition: opacity 0.5s ease; }
  .fader.visible {
    left: 0;
    opacity: 1; }

.popup {
  left: -100% !important;
  position: absolute;
  top: 50%;
  z-index: 985;
  width: 94vw;
  max-width: 900px;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease;
  background: #fff; }
  .popup .hold {
    padding: 15px;
    overflow: hidden; }
    .popup .hold img {
      display: block;
      width: 100%; }
  .popup .popup-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: url("../images/btn-close-popup.png") no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.5s ease; }
    .popup .popup-close:hover {
      opacity: 0.5; }
  .popup.visible {
    left: 50% !important;
    opacity: 1; }
  @media only screen and (max-width: 736px) {
    .popup {
      width: 92vw; }
      .popup .hold {
        padding: 10px; } }
